In [2]:
import numpy as np
import pandas as pd

In [17]:
from sklearn.model_selection import train_test_split as tts

In [5]:
dataset = 'iris_dataset.txt'

In [9]:
df = pd.read_csv(dataset, names = ['x1','x2','x3','x4','y'])

In [12]:
df.head()

    x1   x2   x3   x4            y
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [13]:
X = df.values[:,0:4]
Y = df.values[:,4]

In [18]:
X_train, X_test, Y_train, Y_test = tts(X,Y, test_size = 0.25, stratify = Y)

In [24]:
np.save('X_train',X_train)
np.save('Y_train',Y_train)
np.save('X_test',X_test)
np.save('Y_test',Y_test)

In [25]:
dataset = 'abalone_dataset.txt'

In [28]:
df = pd.read_csv(dataset,  names = ['y','x1','x2','x3','x4','x5','x6','x7','Age'])

In [29]:
df.head()

   y     x1     x2     x3      x4      x5      x6     x7  Age
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150   15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070    7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210    9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155   10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055    7

In [64]:
df2 = pd.get_dummies(df.drop(columns = ['Age']))

In [79]:
X = np.tile(df2.values, [2,1])
Y = np.tile(df['Age'].values,2)

In [81]:
Y.shape

(8354,)

In [83]:
X_train, X_test, Y_train, Y_test = tts(X,Y, test_size = 0.25, stratify = Y)

In [87]:
np.save('X_train',X_train)
np.save('Y_train',Y_train)
np.save('X_test',X_test)
np.save('Y_test',Y_test)